<?xml version="1.0"?>
<robot name="diff_bot">
 <link name="base_link">
    <visual>
        <geometry>
            <box size="1.0 1.0 1.0"/>
        </geometry>
    </visual>
    <collision>
        <geometry>
            <box size="1.0 1.0 1.0"/>
        </geometry>
    </collision>
 </link>  
</robot>